<div class='container subnav-wrap'>
  <div class='subnav'>
    <a href='{{ url_for("admin_dashboard") }}'>Overview</a>
    <a href='{{ url_for("admin_users") }}'>Accounts</a>
    <a href='{{ url_for("admin_customers") }}'>Customers</a>
    <a href='{{ url_for("admin_operations") }}'>Operations</a>
    <a href='{{ url_for("admin_bills") }}'>Billing</a>
    <form method="post" action="{{ url_for('admin_backfill_mysql') }}">
    <button class="btn btn-primary">Sync Data</button> 
</form>
  </div>
</div>
